# Default ignored files
.idea/shelf/
.idea/workspace.xml

# Other intelliJ files
.idea/usage.statistics.xml
.idea/sonarlint

#MacOs files
.DS_Store

# Node files
ui-tests/node_modules

# Cypress files
ui-tests/cypress/screenshots
ui-tests/cypress/results
# Mochawesome files
ui-tests/mochawesome.json
ui-tests/mochawesome-report